@import url('https://fonts.googleapis.com/css2?family=Antic&family=Montserrat:wght@300&display=swap');
html, body {
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 100 !important;
}
.mainPage{
    background: url('../images/4.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    min-width: 250px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
 
}
header{
    position: relative;
    margin: 10px 2px;
}
header span{
    padding: 2px;
    /* float: right; */
    right: 3%;
    font-size: 16px;
    cursor: pointer;
}
.show { display: block; }
.hide { display: none; }
#searchButton{
    width: 200px;
    margin: auto;
    top:10%;
    opacity:0.5;
    margin-top: 20px;
}
.dailyWeather{
    position: relative;
    width: 300px;
    height: 150px;
    left: 16%;
    top: 60px;
}
.addFavorite{
    font-size: 24px !important;
    position: absolute;
    left: -40px;
    top: 7px;
    cursor: pointer;
}
.inFavorites{
    color:red;
}
.clear {
    clear: both;
}
#cityName{
    text-align: left !important;
    font-size: 32px;
    position: absolute;
}

#currentDailyTemp{
    font-size: 80px;
    position: absolute;
    padding-top: 30px;
}

.dailyWeather .icon{
    font-size: 40px;
    position: absolute;
    left: 150px;
    top: 72px;
}

.weeklyWeather{
    position: relative;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 350px;   
}

ul{
    flex-direction: row;
    /* align-items: flex-start; */
    display: flex;
    
}
.weatherItems{
    background-color: rgba(240, 248, 255, 0.6);
    flex-grow: 1;
    height:100%;
    align-self: center;
    border-radius: 8%;
    font-size: 18px;
    justify-content:space-around;
    width: 150px;
}

.weatherItems +.weatherItems{
    margin-left: 12%;
}
li{
    list-style-type: none;
    opacity: 1;
}
li span{
    clear: both;
    display: block;
}

@media (max-width: 860px) {
    .dailyWeather{
        width: 100%;
        top: 125px;
    }

    .weeklyWeather{
        margin-top:200px;
        width: 100%;
        margin-left: 0;
    }

    ul{
        flex-direction: column; 
        width: 100% !important;
        padding-left: 0px !important; 
        padding-right: 0px !important; 
    }
    ul span{
        display: inline-block;
    }
    ul .forecastHeadline{
        padding-left: 10px;
        display: block;
        clear: both;
    }
    ul .temperature {
        display: block;
    }
    li{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .weatherItems{
        width: 100%;
        border-radius: 0;
        height:100%;
        justify-content:space-around;
        flex-grow: 1;
        margin-bottom: 5px;
        background-color: none;
    }
    .weatherItems +.weatherItems{
        margin-left: 0px !important;

    }
    .iconAndTemp{
        float: right;
        margin-right: 40px;
        margin-top: -40px;
        position: relative;
    }
    .weeklyIcon{
        padding-left: 5px;
    }
    #cityName{
        text-align: left !important;
    }
}   /* media query */

  #errorWrapper {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }
  #errorToast {
    position: relative;
    margin: 0 auto;
    background-color: rgba(112, 112, 112, 0.7);
    width: 350px;
    height: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: white;
    display: none;
  }
  #errorToast.show {
    display: block !important;
  }


