@import url('https://fonts.googleapis.com/css2?family=Antic&family=Montserrat:wght@300&display=swap');
html, body {
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 100 !important;
}
.mainPage{
    background: url('../images/4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    z-index: -1;
}
header{
    position: relative;
    margin: 10px 2px;
}
header span{
    padding: 2px;
    /* float: right; */
    right: 3%;
    font-size: 16px;
    cursor: pointer;
}
.show { display: block; }
.hide { display: none; }
#searchButton{
    width: 200px;
    margin: auto;
    top:10%;
    opacity:0.5;
    margin-top: 20px;
}
.dailyWeather{
    position: relative;
    width: 300px;
    height: 150px;
    left: 15%;
    top: 60px;
}
.addFavorite{
    font-size: 24px !important;
    position: absolute;
    left: -40px;
    top: 7px;
    cursor: pointer;
}
.inFavorites{
    color:red;
}
.clear {
    clear: both;
}
#cityName{
    text-align: left !important;
    font-size: 32px;
    position: absolute;
}

#currentDailyTemp{
    font-size: 80px;
    position: absolute;
    padding-top: 30px;
}

.dailyWeather .icon{
    font-size: 40px;
    position: absolute;
    left: 150px;
    top: 72px;
}

.weeklyWeather{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 350px;   
}

ul{
    flex-direction: row;
    /* align-items: flex-start; */
    display: flex;
    
}
.weatherItems{
    background-color: rgba(240, 248, 255, 0.6);
    flex-grow: 1;
    height:100%;
    align-self: center;
    border-radius: 8%;
    font-size: 18px;
    justify-content:space-around;
    width: 150px;
}

.weatherItems +.weatherItems{
    margin-left: 12%;
}
li{
    list-style-type: none;
    opacity: 1;
}
li span{
    clear: both;
    display: block;
}

@media (max-width: 860px) {
 .dailyWeather{
    width: 100%;
    top: 150px;
}

.dailyWeather .icon {}
.weeklyWeather{
    margin-top:300px;
    width: 100%;
}

ul{
 flex-direction: column; 
 width: 100% !important;
 padding-left: 0px !important; 
 padding-right: 0px !important; 

}
ul span{
    display: inline-block;
}
ul .forecastHeadline{
    float: left ;
    padding-left: 10px;
}
li{
    padding-top: 5px;
    padding-bottom: 5px;
}
.weatherItems{
    width: 100%;
    border-radius: 0;
    height:100%;
    justify-content:space-around;
    flex-grow: 1;
    margin-bottom: 5px;
    background-color: none;
}
.weatherItems +.weatherItems{
    margin-left: 0px !important;

}
.iconAndTemp{
    float: right;
    margin-right: 40px;
   
}
.weeklyIcon{
    padding-left: 5px;
}
#cityName{
    text-align: left !important;
}
}

.autocomplete-wrapper {
    width: 350px;
    position: relative;
    display: inline-block;
  }
  
  .autocomplete-wrapper > div {
    width: 100%;
  }
  
  .autocomplete-wrapper input {
    border: 1px solid #cecece;
    padding: 12px 15px;
    font-size: 14px;
    width: 100%;
  }
  
  .autocomplete-wrapper input:focus {
    border-color: #0F67FF;
    box-shadow: none;
    outline: none;
  }
  
  .autocomplete-wrapper .dropdown {
    width: 100%;
    padding: 0;
    text-align: left;
    max-height: 280px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid #0F67FF;
    border-top: none;
  }
  
  .autocomplete-wrapper .item  {
    display: block;
    cursor: pointer;
    font-size: 14px;
    padding: 15px;
  }
  
  .autocomplete-wrapper .item.selected-item {
    background-color: #0069ff;
    color: #FAFBFC;
  }
  
  .autocomplete-wrapper .item:hover {
    background-color: #0069ff;
    color: #FAFBFC;
  }
  
  #errorWrapper {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }
  #errorToast {
    position: relative;
    margin: 0 auto;
    background-color: rgba(112, 112, 112, 0.7);
    width: 350px;
    height: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: white;
    display: none;
  }
  #errorToast.show {
    display: block !important;
  }