#searchBar{
    position: relative;
    width: 200px;
    /* display: inline-block; */
    opacity: 0.7;
    margin: auto;
  }
  #searchResult {
    position: relative;
    cursor: pointer;
   
  }
  #searchinput{
    /* border: 1px solid #ffffff; */
    /* padding: 15px 15px; */
    /* font-size: 14px; */
    /* width: 100%; */
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
  #searchResult div {
    text-align: left;
    width: 100%px;
    padding: 0;
    text-align: left;
    max-height: 280px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid;
    border-top: none;
  }
  #searchResult div:hover {
    background-color: #0069ff;
    color: #FAFBFC;
  }
  