#searchBar{
    position: relative;
    width: 200px;
    /* opacity: 0.7; */
    margin: auto;
    z-index: 100;
  }
  #searchWrapper {
    position: relative;
    /* z-index: 100; */
  }
  #searchResult {
    position: absolute;
    cursor: pointer;
    width: 220px;
    z-index: 200;
  }
  #searchinput {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
  #searchResult div {
    text-align: left;
    width: 100%px;
    padding: 0;
    text-align: left;
    max-height: 280px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid;
    border-top: none;
  }
  #searchResult div:hover {
    background-color: #0069ff;
    color: #FAFBFC;
  }
  